.idea/*
login/.gradle
login/gradle
login/settings.gradle.kts
login/build/*
kubernetes/.gradle
kubernetes/gradle
kubernetes/settings.gradle.kts
kubernetes/build/*

login/src/main/resources/application-local.yml
login/src/main/resources/application.yml
kubernetes/src/main/resources/application-local.yml

