.idea/*
user/.gradle
user/gradle
user/settings.gradle.kts
user/build/*
kubernetes/.gradle
kubernetes/gradle
kubernetes/settings.gradle.kts
kubernetes/build/*

user/src/main/resources/application-local.yml
user/src/main/resources/application.yml
kubernetes/src/main/resources/application-local.yml

